consumer_key = "aEPGOkFOFg8WuDP1ZKj8Sp5Ik"
consumer_secret = "l3dNnpA5Ah6jy43eBcjPly9YJrLtC2EWp0qMukkd5x5RmGCwUn"
access_token = "1034888872826683392-ddw0loWET3yyxl9sWdhGSXld1mVRBE"
access_token_secret = "DYmO2iAtv698PPE8xKWR8IjAb7Y4wONHTTA0zpiuVX3Px"
